<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</head>

<body>
  <div style='text-align:center; margin:100px'>
    <button class="btn btn-info btn-lg">Click Me</button>
    <div id="message" style="margin:20px; font-size:20px"></div>
  </div>


  <script>
    (function () {

      const showMessage = () => {
        const p = document.createElement('p');
        p.innerHTML = "Hello World!";
        document.querySelector('#message').prepend(p);
      }

      const button = document.querySelector('button');
      button.addEventListener('click', showMessage);
    })();
  </script>
</body>

</html>